<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $("[href]").each(function() {
                    if (this.href == window.location.href) {
                        $(this).addClass("current-link");
                    }
                });
            });
        </script>

        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}

            <h2>Under construction...</h2>
        </div>

        {{>footer}}

        <!-- <script src="/scripts/encryptData.js"></script> -->
    </body>
</html>
