<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="/scripts/linkHighlighting.js"></script>

        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}

            <input type="file" id="files" name="files" />
            <br>
            <textarea id="img-base64"></textarea>
            <br>
            <button id="decrypt-img">Decrypt Image</button>
            <br><br>
            <textarea id="decrypted-msg"></textarea>

        </div>

        <script src="/scripts/decryption.js"></script>
    </body>
</html>
