<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="/scripts/linkHighlighting.js"></script>

        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}

            <h2>Under construction...</h2>
        </div>

        {{!-- {{>footer}} --}}
    </body>
</html>
