<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $("[href]").each(function() {
                    if (this.href == window.location.href) {
                        $(this).addClass("current-link");
                    }
                });
            });
        </script>

        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <form id="encrypt-form">
                <h3>Level 1 encrypted text</h3>
                <textarea id="plain-text"></textarea>
                <button>Encrypt</button>
            </form>
            <br><br>
            <h3>SHREncrypted text</h3>
            <textarea id="encrypted-text"></textarea>
        </div>

        {{>footer}}

        <script src="/scripts/encryptData.js"></script>
    </body>
</html>
