<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/scripts/linkHighlighting.js"></script>

        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <form id="encrypt-form">
                <h3>Level 1 encrypted text</h3>
                <textarea id="plain-text"></textarea>
                <button>Encrypt</button>
            </form>
            <br><br>
            <h3>SHREncrypted text</h3>

            <textarea id="encrypted-text"></textarea>

            <div>
                <button id="shre-img-btn">SHREncrypted Image</button>
                <a id="shre-img-link" download="encrypted.bmp"></a>
                <img src="/data/pacman.gif" class="pacman" id="sacman">
            </div>

            <br>

            <div>
                <button id="normal-img-btn">Normal Image</button>
                <a id="normal-img-link" download="normal.bmp"></a>
                <img src="/data/pacman.gif" class="pacman" id="nacman">
            </div>

        </div>

        {{!-- {{>footer}} --}}

        <script src="/scripts/encryptData.js"></script>
    </body>
</html>
