<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/scripts/linkHighlighting.js"></script>

        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <form id="encrypt-form">
                <h3>Level 1 encrypted text</h3>
                <textarea id="plain-text"></textarea>
                <button>Encrypt</button>
            </form>
            <br><br>
            <h3>SHREncrypted text</h3>

            <textarea id="encrypted-text"></textarea>

            <div>
                <button id="download-img-btn">Download SHREncrypted Image</button>
                <a id="actual-download-img-btn" download="encrypted.png"></a>
                <img src="/data/pacman.gif" id="pacman">
            </div>

        </div>

        {{!-- {{>footer}} --}}

        <script src="/scripts/encryptData.js"></script>
    </body>
</html>
