<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <form id="encrypt-form">
                <h3>Plain text</h3>
                <textarea id="plain-text" rows="8" cols="80"></textarea>
                <button>Encrypt</button>
            </form>
            <br><br>
            <h3>Encrypted text</h3>
            <textarea id="encrypted-text" rows="8" cols="80"></textarea>
        </div>

        {{>footer}}

        <script src="/scripts/encryptData.js"></script>
    </body>
</html>
