<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/scripts/linkHighlighting.js"></script>

        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <form id="encrypt-form">
                <h3>Level 1 encrypted text</h3>
                <textarea id="plain-text"></textarea>
                <button>Encrypt</button>
            </form>
            <br><br>
            <h3>SHREncrypted text</h3>

            <textarea id="encrypted-text"></textarea>
            <a id="download-img-btn" download="encrypted.png"><button>Download SHREncrypted Image</button></a>

            {{!-- <div id="bla1">
                <p id="encrypted-text"></p>
            </div>

            <button id="btn-Preview-Image">Generate Image</button>
            <a id="encrypted-text-to-img" href="#"><button>Download Image</button></a> --}}

        </div>

        {{>footer}}

        <script src="/scripts/encryptData.js"></script>
        {{!-- <script src="/scripts/text2img.js"></script> --}}
    </body>
</html>
