<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title>SHREncryption</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <form action="#" method="get">
                <input name="text" id="plain-text" type="text"><br>
                <button type="submit">Encrypt</button>
            </form>
        </div>

        <div class="main-content">
            <p id="encrypted-text"></p>
        </div>

        {{>footer}}
    </body>
</html>
