<header>
    <h1>SHREncryption</h1>
    <div class="nav-links">
        <a href="/">Encryption</a>
        <a href="/decrypt">Decryption</a>
        <a href="/docs">Docs</a>
        <a href="/about">About</a>
    </div>
</header>
