body {
    max-width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 16px;

    color: #333333;
    font-family: arial;

    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

h1 {
    font-size: 64px;
}

h3 {
    font-size: 24px;
}

footer {
    border-top: 1px solid #eeeeee;
    color: #888888;
    margin-top 16px;
    padding: 16px 0;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
}

#encrypted-text {
    border: 1px solid #888888;
}
